
.button-primary {
  padding: 10px 10px;
  background: var(--color-primary);
  border-radius: 6px;
  color: var(--white);
  cursor: pointer;
  white-space: nowrap;
  border-color: transparent;
  height: 40px;

  &:disabled {
    background-color: var(--color-light06);
    color: var(--color-dark04);
    cursor: default;
  }
}


.button-secondary {
  padding: 10px 10px;
  border-radius: 6px;
  background-color: #EDF8FF;
  color: var(--color-primary);
  cursor: pointer;
  white-space: nowrap;
  border-color: transparent;
  height: 40px;


  &:hover {
    border-color: var(--color-primary);
    background-color: #EDF8FF;
    color: var(--color-primary);
  }

  &:disabled {
    background-color: #EDF8FF;
    color: var(--color-primary);
  }
}