
.button-primary {
  padding: 12px 12px;
  background: var(--color-primary);
  border-radius: 6px;
  color: var(--white);
  cursor: pointer;
  white-space: nowrap;
  border-color: transparent;

  &:disabled {
    background-color: var(--color-light06);
    color: var(--color-dark04);
    cursor: default;
  }
}


.button-secondary {
  padding: 12px 32px;
  border-radius: 6px;
  background-color: var(--color-dark03);
  color: var(--white);
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    border-color: var(--color-dark04);
    background-color: var(--color-dark04);
    color: var(--white);
  }

  &:disabled {
    background-color: var(--color-dark02);
    color: var(--color-dark04);
  }
}