:root {
  --black: #000;
  --white: #fff;

  --color-primary: #1DA1F2;
  --color-secondary: #EDF8FF;
  --color-tertiary: #F34642;

  --font-color: #323238;

  --color-light: #E5E5E5;
  --color-light2: #949C9E;
  --color-font: #323238;
}

